/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

img {
	width: 100%;
	}

div.container{
		display: flex;
		flex-wrap: wrap;
		max-width: 60rem;
		position: relative;
	}

header{
		flex: 1 0 100%;
		margin: 0rem .5rem;
	}

article{
		flex: 2 0 20rem;
		margin: 0rem .5rem;
	}

aside{
		flex: 1 0 10rem;
		margin: 0rem .5rem;
	}

section{
		background-color: rgb(235,235,235);
		padding: 1rem;
		margin: 0 0 1rem 0;
	}

footer {
		flex: 1 0 100%;
		margin: 2rem .5rem 0rem;
		border-top: 1px solid rgb(159, 159, 159);
		padding: 1rem 0;
	}

h3{
		margin: 1rem 0 0 0;
		color: rgb(0,0,0);
	}

ol {
	padding: 0 0 .5rem 0;
	}

	p{
		font-size: 1rem;
		margin: .5rem 0;
		color: rgb(0,0,0);
	}

figure{
		width: 100%;
		margin:0;
		padding:0;
	}

a{
		color: rgb(74, 74, 74);
		text-decoration: none;
	}