/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60rem;
	justify-content: center;
	}
	
/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */
body {
	font-family: sans-serif;
	display:flex;
	flex-direction: column;
	align-items: center;
	}	

main { 
	padding:1rem 2rem 6rem 2rem;
	}

main.home {
	padding: 8rem 1rem;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
	}

header {
	display: grid;
	grid-template-columns: 3fr 1fr;
	background: rgb(215, 215, 215);
	padding: 1rem 1rem 1rem 1rem;
	}

h1 {
	width: 11rem;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 2rem;
	margin: 2rem 0rem 1rem;
	}
	
h3 {
	font-size: 1.5rem;
	margin: 2rem 0rem 1rem 0rem;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
	margin: 0rem 0rem;
	}

article {
	background-color: rgb(196, 239, 255);
	}

figure {
	margin-bottom: 1rem;
	}

main.menu ul {
	margin: 1rem 0;
	}	

main.menu ul li {
	margin: 1rem 0rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	}

p{
	margin: 0;
	}

p.body {
	margin: 1rem 0rem 0rem;
	}

p.description {
	grid-column: 1/3;
	grid-row: 2;
	margin: 0rem;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(255,0,0);
	text-align: right;
	margin: 0 0 0 1rem;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5rem;
	text-align: right;
	}

nav ul li.selected a {
	color: rgb(0,0,0);
	background-color: rgb(255, 123, 0);
	}
	
nav ul li a {
	color: rgb(255, 255, 83);
	padding: .5rem .5rem .25rem .5rem;
	text-decoration: none;
	background-color: rgb(38, 0, 255);
	}
	
p.slogan {
	font-size: 4rem;
	font-family: serif;
	font-style: italic;
	margin: 4rem 0rem 8rem 0rem;
	color: rgb(255,255,255);
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 1rem;
  background: rgb(255, 255, 43);
	}

address {
	color: rgb(255, 123, 0);
	}

footer p {
	margin: 0;
}

@media screen and (min-width: 60em) {
	 
	div.container {
		background-color: rgb(255, 255, 255);
		max-width: 80em;
		justify-content: center;
	}

	div.home-container { 
		max-width: 80em;
		justify-content: center;
	}

	body {
		background-color: rgb(255, 0, 0);
	}

	nav ul  {
		text-align: start;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

	nav ul li {
		text-align: center;
	}

	nav ul li {
		text-align: right;
		font-size: 2em;
		padding: 0 0 0 1rem;
	}

	main.menu ul {
		margin: 1rem 0rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		column-gap: 4rem;
	}	

	main.menu ul li {
		margin: 1rem 0rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}

	}
	